<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.lewis.test.pojo.Person">
		<property name="name" value="wangzhengxin"></property>
	</bean>

	<bean id="beanA" class="com.lewis.test.pojo.A">
		<property name="b" ref="beanB"></property>
	</bean>

	<bean id="beanB" class="com.lewis.test.pojo.B">
		<property name="a" ref="beanA"></property>
	</bean>
</beans>